/* styles.css */
.todo-list-container-headers {
  display: grid;
  grid-template-columns: 30% 50% 10% 10%;
  grid-gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.header {
  background-color: #f0f0f0;
  grid-template-columns: 30% 50% 10% 10%;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.row {
  display: grid;
  grid-template-columns: 30% 50% 10% 10%;
  grid-gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.item {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}
